# Python
__pycache__/
*.pyc
backend/.venv/
venv/

# Fisiere cu parole/config
.env
backend/.env

# Baza de date locala
*.db

# React
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# Windows
Thumbs.db